body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* #region header */

#navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(199, 208, 255);
    position: sticky;
    top: 0px;
}   

#navbar a {
    text-decoration: none;
    margin: 20px;
    margin-right: 40px;
    color: rgb(59, 59, 59);
    font-size: 1.3em;
}

/* #endregion */

/* #region main */
/* #region welcome */
#welcome-section {
    height: 100vh;
    background-color: rgb(199, 208, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#welcome-section h1{
    margin: 0px;
    font-size: 2.5em;   
}

#welcome-section p{
    margin: 0px;
    color: rgb(58, 71, 255);
    font-size: 1.1em;
}
/* #endregion */

/* #region projects */
#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects p{
    color: rgb(58, 71, 255);
    font-size: 1.5em;
}

#project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 160px;
    row-gap: 100px;
}

@media (max-width: 700px){
    #project-grid{
        grid-template-columns: 1fr;
    }
}

#project-grid a{
    text-decoration: none;
}

.project-tile{
    width: 300px;
    height: 250px;
    border: 2px solid rgb(51, 224, 255);
    border-radius: 3px
}

.project-tile .img-frame{
    height: calc(250px - 40px);
}

.project-tile img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid rgb(51, 224, 255);
}

.project-tile .title-frame{
    text-align: center;
    color: rgb(0, 132, 255);
    font-size: 1.4em;
    height: 40px;
    line-height: 40px;
}



#profile-link{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid rgb(51, 224, 255);
    background-color: rgb(210, 248, 255);
    color:rgb(0, 130, 153);
    text-decoration: none;
}
/* #endregion */

/* #region contact */
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(174, 187, 255);
    padding: 100px;
    margin-top: 100px;
}

#lets-work{
    font-size: 2.5em;
}

#contact-circles{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
    justify-content: center;
}

#contact-circles a{
    border: 2px solid rgb(51, 224, 255);
    background-color: rgb(173, 243, 255);
    border-radius: 50%; 
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    margin: 50px;
    text-decoration: none;
    color: rgb(58, 71, 255); 
    font-weight: bold;
}

#contact-circles a:hover{
    background-color: rgb(212, 249, 255);
}

/* #endregion */

/* #endregion */

/* #region footer */
footer{
    height: 100px;
    background-color: rgb(34, 49, 63);
    text-align: center;
    line-height: 100px;
    color: white;
}

footer a{
    color: white;
}
/* #endregion */